<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Назад</a>
<h1>Специальности</h1>
<span>Данный раздел представлен для работы со специальностями.</span>
<ul>
    <li><a href="/specialities/create">Создать</a></li>
    <li><a href="/specialities/delete">Удалить</a></li>
    <li><a href="/specialities/update">Изменить</a></li>
</ul>
<div>
    <h2>Список имеющихся специальностей</h2>
<iframe src="../../get_specialities" frameborder="0" style="height: 100%"></iframe>

</div>
</body>
</html>