<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/students">Назад</a>
<h2>Форма ввода</h2>
<form action="/students/delete" method="post">
    <p>
        <label>Номер студента</label>
        <input name="number" type="number" />
    </p>
    <input type="submit" value="Send" />
</form>
<div>
    <h2>Список имеющихся стужентов</h2>
<iframe src="../../get_students" frameborder="0" style="height: 100%"></iframe>
</div>
</body>
</html>