<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Назад</a>
<h1>Студенты</h1>
<span>Данный раздел представлен для работы со студентами.</span>
<ul>
    <li><a href="/students/create">Создать</a></li>
    <li><a href="/students/delete">Удалить</a></li>
    <li><a href="/students/update">Изменить</a></li>
</ul>
<div>
    <h2>Список имеющихся групп</h2>
<iframe src="../../get_students" frameborder="0" style="height: 100%"></iframe>

</div>
</body>
</html>