<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/groups">Назад</a>
<h2>Форма ввода</h2>
<form action="/groups/delete" method="post">
    <p>
        <label>Id группы</label>
        <input name="groups_id" type="number" />
    </p>
    <input type="submit" value="Send" />
</form>
<div>
    <h2>Список имеющихся специальностей</h2>
<iframe src="../../get_groups" frameborder="0" style="height: 100%"></iframe>
</div>
</body>
</html>