<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Назад</a>
<h1>Группы</h1>
<span>Данный раздел представлен для работы с группами.</span>
<ul>
    <li><a href="/groups/create">Создать</a></li>
    <li><a href="/groups/delete">Удалить</a></li>
    <li><a href="/groups/update">Изменить</a></li>
</ul>
<div>
    <h2>Список имеющихся групп</h2>
<iframe src="../../get_groups" frameborder="0" style="height: 100%"></iframe>

</div>
</body>
</html>